<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Work Now, Play Now</title>
	</head>
	<body>
		<span>You viewed this file at <span style="color:blue"><%= (new Date()).toLocaleString() %></span> (Server Time)</span>
	</body>
</html>
